header {
    /* To do: make fixed position of header after scroll */
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 10px 1px black;
}

.logo {
    width: 150px;
}

.nav_link {
    margin: 0 20px;
    text-decoration: none;
    font-family: "Raleway", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 2.3px;
    color: #4b301f;
    transition: .3s;
}
.nav_link:hover{
    color: #99745c;

}